.brand-riva { color: red; }
.brand-refuge { color: black; }
#menu-logo{
  width:50px;
  display:inline-block;
  vertical-align:middle;
}
.navbar-brand{
  font-weight: 500;
}
img{
  border-radius:5px;
  display: block;
  max-width: 100%;
  height: auto;
}
.navbar-brand img{
  display: inline-block;
}
.social-media-list{
  list-style-type: none;
}
body,.page-content{
  background-color: #ccc;
}
body,html{
  font-size: 1.1rem;
}