---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import DonateButton from '../../components/DonateButton.astro';
import contactImg from '../../assets/images/images3.jpg';
---
<Layout title="Get Involved" menuEntry="getinvolved" description="Support Riva Refuge through donations or volunteering. We seek mentors, bookkeepers, and helpers for site visits. Every contribution makes a difference.">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">Get Involved</h1>
    </header>
    <div class="post-content">
      <Image src={contactImg} alt="Community outreach" width={670} />

      <h3>There are several ways to get involved with Riva Refuge:</h3>

      <p>
        Monetary donations give us greatest flexibility to make great things happen.
        You can give by PayPal or by check to Riva Refuge, Inc. at 10 West Bluff Drive,
        Port Angeles WA 98362.
      </p>

      <DonateButton />

      <p>Join Us as a Volunteer! We're currently seeking:</p>

      <ul>
        <li>A career counselor or high school teacher to connect with one of our scholarship students as an email mentor.</li>
        <li>A bookkeeper or accountant to assist us for a few hours each month.</li>
        <li>Helpers to join us for some site visits.</li>
        <li>Call us at <a href="tel:970-480-RIVA">970-480-RIVA</a> to talk about ways you can help.</li>
      </ul>
    </div>
  </article>
</Layout>
