---
import Layout from '../../../layouts/Layout.astro';
import DonateButton from '../../../components/DonateButton.astro';
---
<Layout title="Jadelle速 Family Planning Program" menuEntry="campaigns" description="Since 2014, Riva Refuge has provided Jadelle速 five-year contraceptive implants at no cost to women in Kenyan slums, serving over 19,000 women.">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">Jadelle速 Family Planning Program</h1>
    </header>
    <div class="post-content">
      <p>
        <em>In a slum in Kenya, we are bringing choices to poor women.</em>
        Sometimes it's hard to know what to do to help a neighborhood when it is rife
        with unemployment, backyard brewing, child neglect, hunger and alcoholism. The
        best thing we can do now is to offer family planning options for women who
        cannot afford it. Since March 2014 we have provided Jadelle速, a five-year
        reversible contraceptive implant at no cost to women. Our hope is to delay a
        woman's first pregnancy (allowing her to finish school) and increase the space
        between subsequent births, which is healthier for both mother and babies. In
        the past ten years of the program we've provided implants for 19,000 women.
      </p>

      <DonateButton />
    </div>
  </article>
</Layout>
