<footer class="site-footer well well-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </div>
      <div class="col-md-4">
        <ul class="social-media-list">
          <li><a href="https://twitter.com/RivaRefuge"><i class="fa fa-twitter-square fa-5 "> Twitter</i></a></li>
          <li><a href="https://www.facebook.com/Riva-Refuge-Inc-177593545669926"><i class="fa fa-facebook-square fa-5 "> Facebook</i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p id="project_tagline">Fighting Root Causes of Poverty</p>
      </div>
  </div>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha512-DUC8yqWf7ez3JD1jszxCWSVB0DMP78eOyBpMa5aJki1bIRARykviOuImIczkxlj1KhVSyS16w2FSQetkD4UU2w==" crossorigin="anonymous"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>
