<footer class="site-footer well well-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </div>
      <div class="col-md-4">
        <ul class="social-media-list">
          <li><a href="https://twitter.com/RivaRefuge"><i class="fa fa-twitter-square fa-5 "> Twitter</i></a></li>
          <li><a href="https://www.facebook.com/Riva-Refuge-Inc-177593545669926"><i class="fa fa-facebook-square fa-5 "> Facebook</i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p id="project_tagline">Fighting Root Causes of Poverty</p>
      </div>
  </div>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script><script src="https://ssl.google-analytics.com/ga.js" type="text/javascript"></script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-48785247-1");
pageTracker._trackPageview();
} catch(err) {}
</script>