---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import DonateButton from '../components/DonateButton.astro';
import hero from '../assets/images/fp-hero.jpg';
---
<Layout title="Riva Refuge" menuEntry="home" description="Riva Refuge is a small, secular non-profit helping children, youth, young women, disabled, and elderly people in Africa and beyond. Volunteer-run, no paid staff.">
  <Image src={hero} alt="Linked arms symbolizing unity and support among diverse individuals." width={670} loading="eager" fetchpriority="high" />

  <p>
    Riva Refuge is a small, secular non-profit organization that helps
    children, youth, young women, disabled, and elderly. Presently, we have
    three projects that need assistance:
  </p>

  <ul>
    <li><a href="/campaigns/jadelle-family-planning-program/">Jadelle contraception program</a></li>
    <li><a href="/campaigns/scholarship-program/">Scholarships for disadvantaged children/youth</a></li>
    <li><a href="/campaigns/matisi-food-medicine/">Matisi Food and Medicine</a></li>
  </ul>

  <p>
    Our mission is to elevate the well-being of disadvantaged people, empowering
    them to succeed. We work in several countries in Africa and sometimes in
    Central America, the Caribbean and the United States. We are a volunteer only
    organization with no paid staff.
  </p>

  <DonateButton />
</Layout>
