---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import contactImg from '../../assets/images/images3.jpg';
---
<Layout title="Contact Us" menuEntry="contact" description="Get in touch with Riva Refuge by email at contact@rivarefuge.org.">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">Contact Us</h1>
    </header>
    <div class="post-content">
      <Image src={contactImg} alt="Community outreach" />

      <p>Email: <a href="mailto:contact@rivarefuge.org">contact@rivarefuge.org</a></p>
    </div>
  </article>
</Layout>
