---
---
<div class="my-4">
  <div id="paypal-donate-button-container"></div>
</div>
<script is:inline>
  (function () {
    var script = document.createElement('script');
    script.src = 'https://www.paypalobjects.com/donate/sdk/donate-sdk.js';
    script.charset = 'UTF-8';
    script.onload = function () {
      PayPal.Donation.Button({
        env: 'production',
        hosted_button_id: 'MLN72XRM42EB4',
        image: {
          src: 'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
          title: 'PayPal - The safer, easier way to pay online!',
          alt: 'Donate with PayPal button',
        },
        onComplete: function () {
          window.location.href = '/thanks/';
        },
      }).render('#paypal-donate-button-container');
    };
    document.head.appendChild(script);
  })();
</script>
