---
---
<footer class="site-footer bg-light border-top py-4 mt-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <a href="mailto:contact@rivarefuge.org">contact@rivarefuge.org</a>
      </div>
      <div class="col-md-4">
        <ul class="social-media-list">
          <li>
            <a href="https://www.facebook.com/Riva-Refuge-Inc-177593545669926">
              <i class="fa-brands fa-square-facebook"></i> Facebook
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p id="project_tagline">Fighting Root Causes of Poverty</p>
      </div>
    </div>
  </div>
</footer>
