---
import { Image } from 'astro:assets';
import logo from '../assets/images/rrlogo-only.png';

interface Props {
  menuEntry?: string;
}
const { menuEntry = '' } = Astro.props;
---
<nav class="site-nav navbar navbar-expand-md navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <a class:list={['navbar-brand', { active: menuEntry === 'home' }]} href="/">
      <Image id="menu-logo" src={logo} alt="Riva Refuge logo" width={100} />
      <span class="brand-riva">Riva</span> <span class="brand-refuge">Refuge</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class:list={['nav-link', 'dropdown-toggle', { active: menuEntry === 'campaigns' }]} href="/campaigns/" data-bs-toggle="dropdown" aria-expanded="false">Campaigns</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/campaigns/jadelle-family-planning-program/">Jadelle® Family Planning Program</a></li>
            <li><a class="dropdown-item" href="/campaigns/scholarship-program/">Scholarship Program</a></li>
            <li><a class="dropdown-item" href="/campaigns/matisi-food-medicine/">Matisi Food and Medicine</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class:list={['nav-link', { active: menuEntry === 'ourvision' }]} href="/our-vision/">Our Vision</a></li>
        <li class="nav-item"><a class:list={['nav-link', { active: menuEntry === 'getinvolved' }]} href="/get-involved/">Get Involved</a></li>
        <li class="nav-item"><a class:list={['nav-link', { active: menuEntry === 'history' }]} href="/our-history/">Our History</a></li>
        <li class="nav-item"><a class:list={['nav-link', { active: menuEntry === 'board' }]} href="/board-of-directors/">Board of Directors</a></li>
        <li class="nav-item"><a class:list={['nav-link', { active: menuEntry === 'contact' }]} href="/contact-us/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
